<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="detail_div" class="detail_main_con">

	<div class="detail_header_con">
		<div class="detail_h_title_con"></div>
	</div>
	<span class="detail_x_btn">X</span>	
	
	<div class="detail_info_con">	
	
		<div class="detail_img_con">
			<img class="detail_img">
		</div>
												
		<div class="detail_btn_con">
			<button type="button" class="freind_request_btn">친구 추가</button>
		</div>
				
	</div>
		
</div>
</body>
</html>