<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="req_div" class="req_main_con">

	<div class="req_header_con">
		<div class="req_h_title_con">
			<span class="req_nn">친구 요청이 도착했습니다.</span>			
		</div>
	</div>	
	
	<div class="req_info_con">	
												
		<div class="req_btn_con">
			<button type="button" class="req_ok_btn">이동</button>
			<button type="button" class="req_no_btn">닫기</button>
		</div>
				
	</div>		
</div>
</body>
</html>