<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="req_div" class="req_main_con">

	<div class="req_header_con">
		<div class="req_h_title_con">
			<span class="req_nn"></span>			
		</div>
	</div>
	<span class="req_x_btn">X</span>	
	
	<div class="req_info_con">	
	
		<div class="req_img_con">
			<img class="req_img">
		</div>		
												
		<div class="req_btn_con">
			<button type="button" class="req_ok_btn">수락</button>
			<button type="button" class="req_no_btn">거절</button>
		</div>
				
	</div>		
</div>
</body>
</html>