<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap">
<link rel="stylesheet" type="text/css" href="/css/users/signup.css">
<link rel="stylesheet" href="/css/nav.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{nav :: nav_div}"></div>
<div class="main_con">
	<div class="balloon">
		<span th:text=${fail}></span>
	</div>
	<div class="sub_con">
		<div class="form_con">
			<form action="/users" method="post" name="form1">
				<input type="text" th:value=${dto?.id} class="signup_input" name="id" placeholder="ID" autocomplete="off" required>
				<div class="msg id"></div>						
				<input type="password" class="signup_input" name="pw" placeholder="PW" autocomplete="off" required>
				<div class="msg pw"></div>
				<input type="password" class="signup_input" name="pw2" placeholder="PW CHECK" autocomplete="off" required>
				<div class="msg pw2"></div>
				<input type="text" th:value="${dto?.nn}" class="signup_input" name="nn" placeholder="NICKNAME" autocomplete="off" required>
				<div class="msg nn"></div>
				<input type="email" th:value="${dto?.email}" class="signup_input" name="email" placeholder="EMAIL" autocomplete="off" required>
				<div class="msg email"></div>
				<input type="text" th:value="${dto?.phone}" class="signup_input" name="phone" oninput="autoHyphen(this)" maxlength="13" placeholder="PHONENUMBER" autocomplete="off" required>
				<div class="msg phone"></div>
			</form>
		</div>
		<div class="button_con">
			<button type="button" class="signup_btn">회원가입</button>
			<button type="button" class="back_btn">뒤로</button>
		</div>
	</div>	
</div>
<script src="/js/users/signup.js" type="text/javascript"></script>
</body>
</html>