<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="vali_div" class="vali_con">

	<div class="vali_header_con">
		<div class="vali_title_con">인증번호 확인</div>
	</div>
	<span class="x_btn">X</span>
		
	<div class="vali_info_con">	
		<div class="vali_input_con">
			<input class="vali_input" type="text" placeholder="인증번호 입력" autocomplete="off">
			<span class="vali_time"></span>
		</div>		
		<div class="vali_input_con">
			<button type="button" class="vali_btn">인증번호 확인</button>
		</div>		
	</div>
		
</div>
</body>
</html>