@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

:root {
    --btn_color: #e74c3c;
    --btn_hover_color : #e74c3c;
}

* {
    font-family: 'Single Day', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;    
}

html, body {
	height: 100%;
}

body {
    max-width: 100%;
    background-color : #fed4e4;
}

.main_con{
	width : 100%;
	height : 100%;
	display : flex;
}

.main_con .left_con, .right_con{
	width : 50%;
	height : 100%;	
}

.main_con .left_con .info_con{
	margin : 20%;
	border : solid 3px black;
	height : 50%;
	border-radius : 50px;
}

.main_con .left_con .info_con .myinfo_con{
	width : 100%;
	height : 100%;
	display : flex;
	flex-direction : column;
}

.main_con .left_con .info_con .myinfo_con .myinfo_imgcon{
	cursor : pointer;
	margin-left : 25%;
	width : 50%;
	margin-top : 5%;
	height : 50%;
}

.main_con .left_con .info_con .myinfo_con .myinfo_imgcon a, a:visited, a:hover{
	text-decoration : none;
	color : black;
}

.main_con .left_con .info_con .myinfo_con .myinfo_imgcon a:active{
	color : #e74c3c;
}

.main_con .left_con .info_con .myinfo_con .myinfo_imgcon .imgmodify_btn{
	position : absolute;
	font-size : 5rem;
	left : 29%;
}

.main_con .left_con .info_con .myinfo_con .myinfo_imgcon .user_img{
	height : 100%;
	width : 100%;
	border : solid 3px black;
	border-radius : 50%;
}

.main_con .left_con .info_con .myinfo_con .myinfo_namecon{
	display : block;
	text-align : center;
	font-size : 4rem;
	width : 100%;
	margin-top : 5%;
	height : 20%;
}

.main_con .left_con .info_con .myinfo_con .myinfo_namecon span{
	display : block;
}

.main_con .left_con .info_con .myinfo_con .modify_btncon{
	text-align : center;
	vertical-align : middle;
	width : 100%;
	height : 20%;
}

.main_con .left_con .info_con .myinfo_con .modify_btncon button, .main_con .left_con .logout_btn,
.main_con .left_con .friend_btn, .main_con .right_con .enter_btn, .main_con .right_con .send_btn{
	font-family : "Single Day";	
	background-color : var(--btn_color);
	box-shadow: 0 0 0 1px #c63702 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 8px 0 0 #C24032,
				0 8px 0 1px rgba(0,0,0,0.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
	position: relative;
	display: inline-block;
	font-size: 2rem;
	color: white;
	padding : 2%;
	text-align: center;
	cursor : pointer;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.main_con .left_con .info_con .myinfo_con .modify_btncon button:hover, .main_con .left_con .logout_btn:hover ,
.main_con .left_con .friend_btn:hover , .main_con .right_con .enter_btn:hover, .main_con .right_con .send_btn:hover{
	background-color : var(--btn_hover_color);
}

.main_con .left_con .info_con .myinfo_con .modify_btncon button:active, .main_con .left_con .logout_btn:active ,
.main_con .left_con .friend_btn:active, .main_con .right_con .enter_btn:active, .main_con .right_con .send_btn:active{
	bottom : 9px;
	box-shadow: 0 0 0 1px #c63702 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.main_con .right_con{
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
					url("/img/chatposter.svg");
	background-repeat : no-repeat;
	background-size : 100%, 100%;
}

.main_con .left_con .logout_btn{
	padding : 1%;
	width : 8%;
	position : absolute;
	bottom : 2%;
	left : 0.5%;
}

.main_con .left_con .friend_btn{	
	padding : 1%;
	width : 8%;
	position : absolute;
	bottom : 2%;
	left : 41%;
}

.main_con .right_con .enter_btn{
	padding : 1%;
	position : absolute;
	bottom : 2%;
	margin-left : 1%;
	width : 48%;
}

.main_con .right_con .enter_btn.entering{
	padding : 1%;
	position : absolute;
	bottom : 2%;
	right : 0%;
	width : 5%;
}

.main_con .right_con .send_btn{
	display : none;
}

.main_con .right_con .send_btn.show{
	display : block;
	position : absolute;
	padding : 1%;
	bottom : 2%;
	right : 6%;
	width : 5%;
}

.main_con .right_con .chat_con{
	overflow : auto;
	max-width : 100%;
	margin-top : 5%;
	height : 80%;
}

.main_con .right_con .chat_con .chatting_con{
	display : flex;
	align-items : center;
	background-color : white;
	border-radius : 40px;
	padding : 3%;
	font-size : 3rem;
	margin : 2%;
	max-width : 80%;
	min-width : 20%;
	margin-left : 10%;
	max-height : 20%;
	overflow-wrap: break-word;
	overflow : hidden;	
}

.main_con .right_con .chat_con .chatting_con.openclose{
	text-align : center;	
	width : 50%;
	margin-left : 25%;
}

.main_con .right_con .chat_con .chatting_con .chatting_img_con{
	margin-right : 5%;	
	min-width : 15%;
	max-width : 15%;
	height : 100%;		
}

.main_con .right_con .chat_con .chatting_con .chatting_img_con img{
	cursor : pointer;
	height : 100%;
	width : 100%;	
}

.main_con .right_con .chat_con .chatting_con span{
	font-size : 2rem;
}

.main_con .right_con .chat_con .chatting_con .chatting_nn_con{
	margin-right : 5%;	
	min-width : 15%;
	max-width : 15%;
}

.main_con .right_con .chat_con .chatting_con .chatting_nn_con span{
	color : red;
}

.main_con .right_con .textarea{
	display : none;
}

.main_con .right_con .textarea.show{
	display : block;
	position : absolute;
	bottom : 2%;
	width : 35%;
	height : 7%;
	padding-left : 1%;
	padding-right : 1%;
	margin-left : 2%;
	font-size : 3rem;
	border-radius : 30px;
	resize : none;
	overflow : hidden;
}

/*Model*/
.main_con.modal{
	background-color : rgba(0, 0, 0, 0.5);
}

.main_con .right_con.modal{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
					url("/img/chatposter.svg");
}

.main_con .left_con .info_con .myinfo_con .myinfo_imgcon .user_img.modal{
    filter: brightness(50%); 	
}